name: Build and Upload

on:
  push:
    branches:
      - main  # zmienione z 'master' na 'main', jeśli używasz 'main'
  schedule:
    - cron: '0 0 * * 0' # co tydzień
  workflow_dispatch:

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller
        pip install PyQt5
        pip install pyyaml

    - name: Build executable
      run: |
        pyinstaller --onefile --noconsole project.py
        dir

    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: project-exe
        path: dist/project.exe
